{% from 'bootstrap4/nav.html' import render_nav_item %}
{% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
{% from 'bootstrap4/utils.html' import render_messages %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('main.index', 'Home') }}
            </div>
            <div class="nav navbar-nav-navbar-right">
                {% if current_user.is_authenticated %}
                    {{ render_nav_item('.user', 'Profile', username=current_user.username) }}
                    {{ render_nav_item('auth.logout', 'Logout') }}
                {% else %}
                    {{ render_nav_item('auth.login', 'Login') }}
                    {{ render_nav_item('auth.register', 'Register') }}
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {{ render_messages() }}
        </div>
        <div class="container py-5">
            <!-- Your page content -->
            {% block page_content %}
            {% endblock %}
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ moment.include_moment() }}
            {{ moment.locale('es') }}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>