{% extends "base.html" %}
{% import "bootstrap/form.html" as wtf %}
{% import "_macros.html" as macros %}
{% from 'bootstrap4/pagination.html' import render_pagination %}


{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
{% include '_posts.html' %}
<h4 id="comments">Comments</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form my-3">
    {{ wtf.render_form(form) }}
</div>
{% endif %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ render_pagination(pagination, 'main.post', fragment='#comments', id=posts[0].id) }}

</div>

{% endif %}
{% endblock %}