{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% from 'bootstrap4/nav.html' import render_breadcrumb_item %}
{% from 'bootstrap4/form.html' import render_form %}
{% from 'bootstrap4/utils.html' import render_icon %}
{% from 'bootstrap4/pagination.html' import render_pagination %}


{% block title %}Flasky - {{ user.username }}{% endblock %}
{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}
            From <a href="http://maps.google.com/?q={{ user.location }}">
            {{ user.location }}
        </a>
        {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
        Member since {{ moment(user.member_since).format('L') }}.
        Last seen {{ moment(user.last_seen).fromNow() }}.
        </p>

        {% if user == current_user %}
        <a class="btn btn-outline-success my-2" href="{{ url_for('.edit_profile') }}">
        Edit Profile
        </a>
        <a class="btn btn-outline-primary my-2" href="{{ url_for('auth.change_password') }}">Cambiar contraseña</a>
        <a class="btn btn-outline-primary my-2">Cambiar correo</a>
        {% endif %}

        <p>
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
                {% else %}
                <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-secondary">Unfollow</a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge badge-pill badge-primary">{{ user.followers.count()  }}</span></a>
            <a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge badge-pill badge-secondary">{{ user.followed.count() }}</span></a>
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            | <span class="label label-default">Follows you</span>
            {% endif %}
        </p>    
        {% if current_user.is_administrator() %}
        <a class="btn btn-outline-warning"
        href="{{ url_for('.edit_profile_admin', id=user.id) }}">
        Edit Profile [Admin]
        </a>
        {% endif %}
    </div>
<h3>Posts by {{ user.username }}</h3>
{% if pagination %}
{% include "_posts.html" %}
<div class="pagination">
    {{ render_pagination(pagination, '.user', username=user.username) }}
</div>
{% endif %}
{% endblock %}